# Python / venv
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/

# Env
.env
.env.*

# OS / IDE
.vscode/
.idea/
.DS_Store

# Excel temp files (مهم جداً)
~$*.xlsx
~$*.xls

# Optional: block other office temp files
~$*.docx
~$*.pptx

# Backup files
*.bak
