# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
